{{#foreach posts}}
    <div class="col-sm-4 portfolio-item post-item">
            {{#if image}}
                <div style="background-image:url('{{image}}');" class="post-thumbnail"></div>
            {{else}}
                <div style="background-image:url({{asset "img/Camera.png"}})" class="post-thumbnail"></div>
            {{/if}}
        <div class="post-desc">
            <a href="{{url}}">
                <h4>{{{title}}}</h4>
            </a>
            <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
            <p>{{excerpt character="30"}}</p>
        </div>
    </div>
{{/foreach}}
