<ul class="list-inline">
    <li>
        <a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}" class="btn-social" target="_blank"><i class="fa fa-fw fa-facebook"></i></a>
    </li>
    <li>
        <a href="https://twitter.com/home?status={{url absolute="true"}}" class="btn-social" target="_blank"><i class="fa fa-fw fa-google-plus"></i></a>
    </li>
    <li>
        <a href="https://plus.google.com/share?url={{url absolute="true"}}" class="btn-social" target="_blank"><i class="fa fa-fw fa-twitter"></i></a>
    </li>
    <li>
        <a href="https://www.linkedin.com/shareArticle?mini=true&url={{url absolute="true"}}&title={{title}}&summary=&source=" class="btn-social" target="_blank"><i class="fa fa-fw fa-linkedin"></i></a>
    </li>
</ul>
